<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LuachProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
  <userSettings>
    <LuachProject.Properties.Settings>
      <setting name="rbInIsraelChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocationName" serializeAs="String">
        <value/>
      </setting>
      <setting name="rbChulChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NeedsUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastLanguage" serializeAs="String">
        <value>Hebrew</value>
      </setting>
      <setting name="Nusach" serializeAs="String">
        <value>Sefard</value>
      </setting>
      <setting name="ShowSeconds" serializeAs="String">
        <value>False</value>
      </setting>
    </LuachProject.Properties.Settings>
  </userSettings>
</configuration>
