html, body {
    height: 100% !important;
}

#tblCal, #tblDOW {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12.5px;
}

#tblCal {
    height: 90%;
}

    #tblCal td, #tblDOW td {
        text-align: center;
        vertical-align: top;
        padding: 0;
        margin: 0;
        position: relative;
    }

        #tblCal td.hasDate {
            background-color: #ffffff;
            border: solid 1px #e4e4e4;
            position: relative;
        }

        #tblCal td.holiday {
            background-color: #f1f1f1;
        }

    #tblCal .jd {
        font-family: narkisim,Tahoma,Geneva, Verdana,sans-serif;
        color: #800;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    #tblCal .sd {
        color: #008;
        font-size: 0.8em;
        padding: 1em 0 0 0;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    #tblCal .fa {
        color: #fcfcfc;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top:20%;        
        z-index: 0;
        font-size:2.5em;
    }
