.liZman em {
    color: #998;
    float: left;
    font-size: 1.6em !important;
}

.liZman p {
    float: right !important;
    display: block;
    width: 60%;
    text-align: right;
}

#pSpecial td {
    padding-bottom: 1em;
    vertical-align: middle;
       color: #889;
}

    #pSpecial td:nth-child(even) {
        font-size: 1.2em;
        font-weight: bold;     
    }

#pSpecial i {
    padding-right: 0.5em;
}
