<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZmanimChart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
  <userSettings>
    <ZmanimChart.Properties.Settings>
      <setting name="LocationName" serializeAs="String">
        <value>Jerusalem</value>
      </setting>
      <setting name="DOWFormat" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="ArmyTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmPm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Width100" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DirectionRight" serializeAs="String">
        <value>True</value>
      </setting>
    </ZmanimChart.Properties.Settings>
  </userSettings>
</configuration>